#imagen1{
    position: absolute;
    margin-top: 30px;
    left: 50px;
}

.caja1{
    border-color: pink;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 500px;
    height: 30px;
    float: left;
    left: 450px;
    margin-top: 45px;
    position: relative;
    border-style: double;
    


}

.menu{
   
    text-align:center;
    margin-top: 77px;
    position:absolute;
    width: 1340px;
    height: 40px;
   
    
  }
  .menu li {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    padding: 20px;
    margin-top: 17px;
    position: relative;
  }

  .tabla{
    margin-top: 200px;
    position: absolute;
    text-align: center;
    left: 550px;
    


  }
  .caja3{
    background-color: rgba(255, 192, 203, 0.301);
    padding: 1px;
    width: 100%;
    bottom: 0%;
    position: absolute;
    text-align: center;
     
  }